@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;700&display=swap');

@font-face {
    font-family: "Neutral face";
    src: url("fonts/NeutralFace/NeutralFace.otf") format("opentype");
    font-weight: normal;
}

@font-face {
    font-family: "Neutral face bold";
    src: url("fonts/NeutralFace/NeutralFace-Bold.otf") format("opentype");
    font-weight: bold;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    border: none;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    
    --violet: #5D27CF;
    --black: #11151C;
    --grey: #353535;
    --light-grey: #6e6d6d;
    --light-green: #D7FB72;
    --white: #F6F6F6;
    --transparent:  #9a9a9a;
    --background: #fefbee;
}

a {
    color: inherit;
}

body {
    padding: 0  50px;
    background-color: var(--background);
    max-width: 1200px;
    margin: auto;
}

.text {
    font-family: 'Golos Text', sans-serif; 
    font-size: 16px;
    font-style: normal;
}

.title {
    font-family: "Neutral face", sans-serif; 
}

.page_title {
    font-family: "Neutral face", sans-serif; 
    font-size: 54px;
    line-height: 64px;
    margin: 0 0 30px 40px;
}

.container {
    display: -ms-grid;
    display: grid;
    grid-gap: 6px;
    margin: 0 0 60px;
    padding: 20px 0 0;
}


.header__container {
    margin: 0 10px 50px 10px;
    padding: 60px 0 10px;

    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-align-items: center;
    align-items: center;
}
.header__logo {
    margin: 0 10px 0 0;

    -webkit-box-flex: 1;
    -ms-flex: 1 0;
    flex: 1 0;

    font-size: 22px;
    position: relative;
    top: 2px;
}
.header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    
    -webkit-align-items: center;
    align-items: center;

    height: 100%;
}
.header__menu_item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    
    -webkit-align-items: center;
    align-items: center;

    margin: 0 40px 0 0;
    transition: font-size 0.1s ease-in-out;
}

@media (min-width:480px) {

    .header__menu_item:hover,
    .header__menu_item:focus {
        color: var(--grey);
        font-size: 17px;
        transition: font-size 0.1s ease-in-out;
    }

}

.header__burger_container,
.header__burger_menu {
    display: none;
}

.button {
    border-radius: 20px;
    padding: 6px 30px 8px;
    cursor: pointer;
}

.button.button_grey {
    background-color: var(--light-grey);
    color: var(--white);
}

@media (min-width:480px) {

    .button:hover,
    .button:focus {
        background-color: #7a7a7a;
    }

    .button:active {
        background-color: #999999;
    }
}


.button.button_white {
    background-color: var(--white);
    color: var(--grey);
}

@media (min-width:480px) {

    .button.button_white:hover,
    .button.button_white:focus {
        background-color: #e2e2e2;
    }

    .button.button_white:active {
        background-color: #bebebe;
    }
}

.button.button_violet {
    background-color: var(--violet);
    color: var(--white);
}

@media (min-width:480px) {

    .button.button_violet:hover,
    .button.button_violet:focus {
        background-color: #6536cb;
    }

    .button.button_violet:active {
        background-color: #734bc9;
    }
}


.button.button_lightgreen {
    background-color: var(--light-green);
    color: var(--grey);
}

@media (min-width:480px) {

    .button.button_lightgreen:hover,
    .button.button_lightgreen:focus {
        background-color: #e1ff8e;
    }

    .button.button_lightgreen:active {
        background-color: #e6fca9;
    }
    
}

/* -------------------- FIRST PAGE */

.first_page__container {
    -ms-grid-columns: minmax(525px, 1fr) 170px 170px;
    grid-template-columns: minmax(525px, 1fr) repeat(2, 170px);
    
    -ms-grid-rows: 315px 185px;
    grid-template-rows: 315px 185px;
}

.first_page__img {
    -ms-grid-column-span: 2;
    grid-column: span 2;    
}

.first_page__img img {
    border-radius: 40px;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;

    -o-object-position: right;
    object-position: right;
}

.first_page__section:nth-child(5) {
    color: var(--light-green);
}

/* -------------------SECTION */

.section {
    position: relative;
    border-radius: 40px;
    padding: 35px;
}

.section_lightgreen {
    background-color: var(--light-green);
    color: var(--black);
}

.section_violet {
    background-color: var(--violet);
    color: var(--white);
}

.section_grey {
    background-color: var(--grey);
    color: var(--white);
}

.section_grey .section__title {
    color: var(--light-green);
}

.section_column_spacebetween {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    -moz-flex-direction: column;
    flex-direction: column;
    
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

.section__title {
    font-size: 48px;
    font-weight: normal;
    line-height: 40px;
    margin: 0 0 15px;
}
.section__text {
    width: 80%;
}
.section__more {
    position: absolute;
    right: 32px;
    bottom: 32px;
    height: 48px;
    width: 48px;
    background: url('./img/64px/bottom-right.png');
    background-size: cover;

    -webkit-transition: all ease-in-out 0.4s;
    -o-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s;
}

.section_violet .section__more {
    background: url('./img/64px/bottom-right-white.png');
    background-size: cover;
}


@media (min-width:480px) {
    .section:hover .section__more,
    .section:focus .section__more {
        right: 16px;
        bottom: 16px;
    }
}

.section__plus:hover,
.section__plus:focus,
.section__minus:hover,
.section__minus:focus {
    cursor: pointer;
}

.section__plus {
    position: absolute;
    right: 32px;
    top: 32px;
    height: 32px;
    width: 32px;
    background: url('./img/64px/plus-lightgreen.png');
    background-size: cover;
}
.section__minus {
    position: absolute;
    right: 32px;
    top: 32px;
    height: 32px;
    width: 32px;
    background: url('./img/64px/minus-lightgreen.png');
    background-size: cover;
}

@media (min-width:480px) { 

    .section__plus:hover,
    .section__minus:hover {
        top: 34px;
        right: 34px;
        height: 28px;
        width: 28px;
    }
    
    .section__plus:active,
    .section__minus:active {
        top: 35px;
        right: 35px;
        height: 26px;
        width: 26px;
        
    }
    .section__plus:hover {
        -webkit-animation: spinPlus 0.5s ease-in-out;
                animation: spinPlus 0.5s ease-in-out;
    }
    .section__minus:hover { 
        -webkit-animation: spinMinus 0.5s ease-in-out; 
                animation: spinMinus 0.5s ease-in-out;
    }
    
    @-webkit-keyframes spinMinus {
        from {
            -webkit-transform: rotateZ(0deg);
                    transform: rotateZ(0deg)
        }
        to {
            -webkit-transform: rotateZ(180deg);
                    transform: rotateZ(180deg)
        }
    }
    
    @keyframes spinMinus {
        from {
            -webkit-transform: rotateZ(0deg);
                    transform: rotateZ(0deg)
        }
        to {
            -webkit-transform: rotateZ(180deg);
                    transform: rotateZ(180deg)
        }
    }
    
    @-webkit-keyframes spinPlus {
        from {
            -webkit-transform: rotateZ(0deg);
                    transform: rotateZ(0deg)
        }
        to {
            -webkit-transform: rotateZ(90deg);
                    transform: rotateZ(90deg)
        }
    }
    
    @keyframes spinPlus {
        from {
            -webkit-transform: rotateZ(0deg);
                    transform: rotateZ(0deg)
        }
        to {
            -webkit-transform: rotateZ(90deg);
                    transform: rotateZ(90deg)
        }
    }
}

.section__hidden_img {
    min-height: 0px;
    max-height: 0px;

    -webkit-transition: min-height linear 0.3s;
    -o-transition: min-height linear 0.3s;
    transition: min-height 0.3s linear;
}

.section__hidden_img.active {
    min-height: 185px;
    max-height: 360px;
    margin: 0 0 15px;

    -webkit-transition: min-height linear 0.3s;
    -o-transition: min-height linear 0.3s;
    transition: min-height 0.3s linear;
}

.hidden_img {
    max-width: 300px;
    width: 100%;
    max-height: 0px;
    border-radius: 40px;
    
    margin: 0 10px 10px 0;
    -o-object-fit: cover;
    object-fit: cover;

    -webkit-transition: max-height linear 0.3s;
    -o-transition: max-height linear 0.3s;
    transition: max-height 0.3s linear;
}

.active .hidden_img {
    max-height: 170px;

    -webkit-transition: max-height linear 0.3s;
    -o-transition: max-height linear 0.3s;
    transition: max-height 0.3s linear;
}

/* ------------------STYLES */

.styles_page__container {
    -ms-grid-columns: minmax(170px, 0.5fr) minmax(170px, 0.5fr) minmax(170px, 0.5fr) 1fr 1fr;
    grid-template-columns: repeat(3, minmax(170px, 0.5fr)) repeat(2, 1fr);

    -ms-grid-rows: minmax(185px, auto) minmax(185px, auto) minmax(185px, auto);
    grid-template-rows: repeat(3, minmax(185px, auto));
}

.styles_page__section  {
    max-height: 205px;
    min-height: 205px;

    -webkit-transition: min-height linear .3s;
    -o-transition: min-height linear .3s;
    transition: min-height linear .3s;
}

.styles_page__title,
.styles_page__section:nth-child(6) {
    -ms-grid-column-span: 2;
    grid-column: span 2;
}

.styles_page__section:nth-child(2) {
    -ms-grid-column-span: 3;
    grid-column: span 3;
}

.styles_page__section:nth-child(3) {
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-column: 3/5;
}

.styles_page__section:nth-child(5) {
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2/4;
}

/* ------------ styles for showImg.js */

.styles_page__section.active  {
    min-height: 420px;

    -webkit-transition: min-height linear 0.3s;
    -o-transition: min-height linear 0.3s;
    transition: min-height linear 0.3s;
}

.styles_page__section:nth-child(2) {
    min-height: 0px;
    max-height: 205px;

    -webkit-transition: max-height linear 0.3s;
    -o-transition: max-height linear 0.3s;
    transition: max-height linear 0.3s;
}

.styles_page__section:nth-child(2).active {
    max-height: 575px;

    -webkit-transition: max-height linear 0.3s;
    -o-transition: max-height linear 0.3s;
    transition: max-height linear 0.3s;
}

.styles_page__section:nth-child(2) .section__hidden_img  {
    max-height: 0px;
    min-height: 0px;

    -webkit-transition: max-height linear 0.3s;
    -o-transition: max-height linear 0.3s;
    transition: max-height linear 0.3s;
}
.styles_page__section:nth-child(2) .section__hidden_img.active  {
    max-height: 360px;

    -webkit-transition: max-height linear 0.3s;
    -o-transition: max-height linear 0.3s;
    transition: max-height linear 0.3s;
}

/* -------------------- EXPLORE */

.explore_page__container {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;

    -ms-grid-rows: auto 300px 200px 100px 200px;
    grid-template-rows: auto 300px 200px 100px 200px;
}

.explore_page__title {
    -ms-grid-column-span: 2;
    grid-column: span 2;
}

.explore_page__img:nth-child(5),
.explore_page__img:nth-child(6) {
    -ms-grid-row-span: 2;
    grid-row: span 2;
}

.explore_page__img img {
    border-radius: 40px;
    height: 100%;
    width: 100%;

    -o-object-fit: cover;
    object-fit: cover;
}

/* ------------------- PLAN */

.plan_page__container {
    -ms-grid-columns: minmax(300px, 1fr) minmax(300px, 1fr) minmax(300px, 1fr);
    grid-template-columns: repeat(3, minmax(300px, 1fr));

    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
}
.plan_page__title {
    -ms-grid-column-span: 3;
    grid-column: span 3;
}

.plan_page__section.section_grey {
    color: var(--light-green);
}

.plan_page__section.section_lightgreen {
    color: var(--violet);
}

.plan_page__section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    -moz-flex-direction: column;
    flex-direction: column;
}

.section__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    
    
    -webkit-justify-content: space-between;
    justify-content: space-between;

    -webkit-align-items: flex-end;
    align-items: flex-end;

    margin: 0 0 15px;
}

.section__header .section__text {
    margin: 0 0 15px;
    width: auto;
    text-align: end;
}

.section__ul {
    margin: 0 0 15px;
}
.section__li {
    position: relative;
    margin: 0 0 15px 40px;
    width: 60%;
}

.section__li::before {
    content: '';
    position: absolute;
    display: block;
    top: 3px;
    left: -40px;
    width: 16px;
    height: 16px;
}

.lightgreen_checkbox .section__li::before {
    background: url('./img/16px/check-box-lightgreen.png');
}

.violet_checkbox .section__li::before {
    background: url('./img/16px/check-box-violet.png');
}

.semitransparent.section__li::before {
    background: url('./img/16px/check-box.png');
}

.section_grey .section__li {
    color: var(--white);
}

.section_lightgreen .section__li {
    color: var(--black);
}

.section__li.semitransparent {
    color: var(--transparent);
}

.plan_page__button {
    width: auto;

    -webkit-align-self: center;
    align-self: center;
    text-align: center;
}

/* --------------------- ORDER PAGE */

.order_page__container {
    -ms-grid-columns: 1fr 85px 85px 255px 170px;
    grid-template-columns: 1fr 85px 85px 255px 170px;

    -ms-grid-rows: auto 315px 185px;
    grid-template-rows: auto 315px 185px;
}
.order_page__title {
    -ms-grid-column-span: 5;
    grid-column: span 5;
}
.order_page__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    -moz-flex-direction: column;
    flex-direction: column;

    padding: 50px;
}
.form__input {
    background-color: var(--grey);
    color: var(--white);
    border-bottom: 1px solid var(--light-grey);
    margin: 0 0 20px;
    border-radius: 0;
}

.form__input::placeholder {
    color: var(--light-grey) ;
}

.form__message {
    color: rgb(255, 70, 70);
    font-size: 12px;
    margin: -15px 0 15px 0;
}

.form__input:focus {
    outline: none;
    border-bottom: 1px solid var(--light-grey);
}

.form__select {
    position: relative;
    margin: 0 0 70px 0;
    color: var(--light-grey);
    background-image: url('./img/32px/down-arrow-lightgray.png');
    background-repeat: no-repeat;
    background-position: right 5px top 50%;
    background-size: 16px; 
}

.form__select:invalid{
    color: var(--light-grey);
}

.form__select:valid{
    color: var(--white);
}

.form__button {
    padding: 10px;

    -webkit-align-self: stretch;
    align-self: stretch;
}

.order_page__section:nth-child(3) {
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-column: 3/5;
}

.order_page__section:nth-child(4) {
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    grid-column: 4/5;
}

.address__line {
    position: relative;
    display: block;
    margin: 0 0 5px 30px;
}

.address__line::before {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    top: 2px;
    left: -30px;
}

.mail::before {
    background: url('./img/16px/envelope.png');
}
.telephone::before {
    background: url('./img/16px/telephone.png');
}
.point::before {
    background: url('./img/16px/maps-and-flags.png');
}

.order_page__section .section__li {
    margin: 15px 0 15px 20px;
    transition: font-size 0.2s ease-in-out;
}

.order_page__section .section__li:hover {
    font-size: 17px;
    transition: font-size 0.2s ease-in-out;
}

.order_page__section .section__li::before {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    top: 2px;
    left: -25px;
    background-size: contain;
}

.facebook::before {
    background: url('./img/32px/facebook.png');
}
.instagram::before {
    background: url('./img/32px/instagram.png');
}
.order_page__section .section__li.youtube::before {
    background: url('./img/32px/youtube.png');
    background-size: contain;
    top: 4px;
}


/* ----------------------- Adaptive for Tablet < 1050px */

@media (max-width: 1051px) {
    body {
        padding: 0  20px;
    }

    .header__container {
        margin: 0 10px 20px;
        padding-top: 30px;
    }

    .header__menu_item:last-child {
        margin: 0;
    }

    .page_title {
        margin: 0 0 10px 20px;
    }

    .container {
        margin: 0 0 30px;
    }

    /* --------------------- FIRST PAGE */

    .first_page__container {
        -ms-grid-columns: minmax(340px, 1fr) 170px 170px;
        grid-template-columns: minmax(340px, 1fr) repeat(2, 170px);

        -ms-grid-rows: 315px minmax(185px, auto);
        grid-template-rows: 315px minmax(185px, auto);
    }


    /* --------------------- STYLES PAGE */


    .styles_page__container {
        -ms-grid-columns: minmax(170px, 1fr) 170px 170px minmax(170px, 1fr);
        grid-template-columns: minmax(170px, 1fr) repeat(2, 170px) minmax(170px, 1fr);

        -ms-grid-rows: auto minmax(185px, auto) minmax(185px, auto) minmax(185px, auto);
        grid-template-rows: auto repeat(3, minmax(185px, auto));
    }

    .styles_page__container.active {
        -ms-grid-rows: auto minmax(185px, auto) minmax(185px, auto) minmax(185px, auto) minmax(185px, auto);
        grid-template-rows: auto repeat(4, minmax(185px, auto));
    }

    .styles_page__title,
    /* modern */
    .styles_page__section:nth-child(2) {
        -ms-grid-column-span: 4;
        grid-column: span 4;
    }
    
    /* industrial */
    .styles_page__section:nth-child(3) {
        -ms-grid-column-span: 3;
        grid-column: span 3;

        -ms-grid-row: 3;
        -ms-grid-row-span: 1;
        grid-row: 3/4;
    }

    /* more */
    .styles_page__section:nth-child(4) {
        -ms-grid-column-span: 1;
        grid-column: span 1;

        -ms-grid-row: 3;
        -ms-grid-row-span: 1;
        grid-row: 3/4;
    }

    .styles_page__section:nth-child(4) .section__text {
        width: 60%;
    }
    
    /* retro */
    .styles_page__section:nth-child(5) {
        -ms-grid-row: 4;
        grid-row: 4;

        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
        grid-column: 1/3;
    }

    /* futuristic */
    .styles_page__section:nth-child(6) {
        -ms-grid-row: 4;
        grid-row: 4;

        -ms-grid-column: 3;
        -ms-grid-column-span: 2;
        grid-column: 3/5;
    }

    /* --------------------- EXPLORE PAGE */

    .explore_page__container {
        -ms-grid-rows: auto 300px 240px 60px 240px;
        grid-template-rows: auto 300px 240px 60px 240px;
    }

    .explore_page__section .section__text {
        width: 100%;
    }

    /* --------------------- PLAN PAGE */


    .plan_page__container {
        -ms-grid-columns: minmax(200px, 1fr) minmax(200px, 1fr) minmax(200px, 1fr);
        grid-template-columns: repeat(3, minmax(200px, 1fr));
    }

    .plan_page__section.section {
        padding: 25px 20px;
    }

    .section__li {
        width: 80%;
    }

    /* --------------------- ORDER PAGE */


    .order_page__container {
        -ms-grid-columns: minmax(170px, 1fr) 170px 170px minmax(170px, 1fr);
        grid-template-columns: minmax(170px, 1fr) repeat(2, 170px) minmax(170px, 1fr);
    }

    .order_page__title {
        -ms-grid-column-span: 4;
        grid-column: span 4;
    }

    .order_page__form,
    .order_page__section:nth-child(3) {
        -ms-grid-column-span: 2;
        grid-column: span 2;
    }
    
    .order_page__section:nth-child(4) {
        -ms-grid-column: 2;
        -ms-grid-column-span: 2;
        grid-column: 2/4;
    }

}

/* ----------------------- Adaptive for Mobile < 768px */

@media (max-width: 769px) {

    body {
        max-width: 480px;
    }

    /* ------------------ BURGER MENU */

    .header__nav,
    .header__burger_close,
    .header:target .header__burger {
        display: none;
    }  

    .header:target .header__burger_close {
        display: block;
        background: url('./img/32px/down-arrow-lightgray.png');
        background-size: contain;
    } 

    .header:target .header__nav {
        display: block;
    }

    .header__menu {
        z-index: 1;

        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        -moz-flex-direction: column;
        flex-direction: column;
        
        -webkit-justify-content: center;
        justify-content: center;

        position: fixed;
        height: 100vh;
        width: 100vw;
        top: 0;
        left: 0;
        background-color: var(--background);
    }

    .header__menu_item {
        margin: 0 0 20px 0;
        font-size: 28px;
    }

    .header__burger_container {
        display: block;
        height: 25px;
        width: 25px;
        z-index: 1;
    }

    .header__burger_container:hover,
    .header__burger_container:focus {
        cursor: pointer;
    }

    .header__burger_container:active .header__burger div,
    .header__burger_container:active .header__burger div::before, 
    .header__burger_container:active .header__burger div::after {
        width: 20px;
    }

    .header__burger,
    .header__burger_close {
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        
        -webkit-align-items: center;
        align-items: center;

        -webkit-justify-content: center;
        justify-content: center;

        width: 100%;
        height: 100%;
    }

    .header__burger div {
        position: relative;
        width: 25px;
        height: 2px;
        background-color: var(--black);
        border-radius: 1px;
    }

    .header__burger div::before, 
    .header__burger div::after {
        content: '';
        position: absolute;
        display: block;
        width: 25px;
        height: 2px;
        background-color: var(--black);
        border-radius: 1px;
    }

    .header__burger div::before {
        top: -7px;
    }

    .header__burger div::after {
        top: 7px;
    }

    /* ------------------  */


    .section__more {
        width: 32px;
        height: 32px;
    }

    .page_title {
        font-size: 34px;
        line-height: 36px;
        width: 100%;
        margin: 0 0 10px 0;
        text-align: center;
    }

    .container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        -moz-flex-direction: column;
        flex-direction: column;
        
        -webkit-align-items: center;
        align-items: center;
    }


    /* ------------------ FIRST PAGE */


    .first_page__container {
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        -moz-flex-direction: row;
        flex-direction: row;

        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .first_page__section {
        width: 100%;
    }

    .first_page__section:nth-child(4),
    .first_page__section:nth-child(5) {
        margin: auto;
        width: 48%;
    }


    /* ------------------ STYLES PAGE */
    
    .styles_page__container {
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        -moz-flex-direction: row;
        flex-direction: row;

        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .styles_page__section {
        width: 100%;
    }

    .styles_page__section:nth-child(4) {
        
        -webkit-box-ordinal-group: 1;
        -ms-flex-order: 1;
        order: 1;
    }

    /* ------------------ EXPLORE PAGE */  
    
    .explore_page__section:nth-child(4) {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 2;
        order: 2;
    }

    .explore_page__img:nth-child(5) {
        -webkit-box-ordinal-group: 1;
        -ms-flex-order: 1;
        order: 1;
    }
    
    .explore_page__img:nth-child(n + 6), 
    .explore_page__section:nth-child(n + 6) {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 3;
        order: 3;
    }

    .explore_page__section {
        margin: -40px 0 0 0;
    }


    /* ------------------ PLAN PAGE */


    .plan_page__section.section {
        padding: 30px 45px;
    }

    .plan_page__section .section__li {
        width: 60%;
    }


    /* ------------------ PLAN PAGE */

    
    .order_page__container {
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        -moz-flex-direction: row;
        flex-direction: row;

        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .order_page__form,
    .order_page__section:nth-child(3) {
        width: 100%;
    }
    
    .order_page__section:nth-child(4),
    .order_page__section:nth-child(5) {
        margin: auto;
        width: 48%;
    }

    .order_page__section:has(.section__more) {
        padding: 40px 25px;
    }
}

@media (max-width: 479.99px) {

    .page_title {
        font-size: 28px;
        line-height: 30px;
    }


    .hidden_img {
        max-width: 265px;
    }

    .form__select {
        margin: 0 0 40px 0;
    }

    .order_page__section:nth-child(4),
    .order_page__section:nth-child(5) {
        margin: 0 auto;
        padding: 30px 20px 30px;
    }

    .order_page__section:nth-child(4) .section__text {
        margin: 0 0 5px 0;
    }

    .order_page__section .section__more {
        right: 20px;
        bottom: 20px;
    }

}

@media (max-width: 370px) {

    body {
        min-width: 320px;
    }

    .first_page__section.section {
        padding: 35px 20px;
    }

    .styles_page__section .hidden_img {
        max-width: 210px;
    }

    .styles_page__section .section__plus,
    .styles_page__section .section__minus {
        top: auto;
        bottom: 16px;
        right: 16px;
        /* left: 50%; */
        /* margin: auto; */
    }

    .styles_page__section .section__text,
    .order_page__section:nth-child(4) .section__text {
        width: 100%;
        
    }

    .order_page__section:nth-child(4),
    .order_page__section:nth-child(5) {
        padding: 20px 15px 20px;
    }

    .order_page__section .section__more {
        width: 20px;
        height: 20px;
    }

    .plan_page__section.section {
        padding: 30px;
    }

    .order_page__form,
    .order_page__section:nth-child(3) {
        padding: 35px 20px;
    }

    .order_page__section:nth-child(4) {
        padding: 20px 15px;
    }

}